{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 채팅</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="header-left">
                <div class="back-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19L8 12L15 5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <img src="{% static 'images/ai_avatar.png' %}" alt="AI Avatar" width="40" height="60">
                <div class="header-title">
                    <h1>Counseling Agent</h1>
                    <div class="online-status">
                        <div class="status-dot"></div>
                        <span class="status-text">Online</span>
                    </div>
                </div>
            </div>
            <div class="header-actions">
                <button class="action-button" id="speakerButton">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2 10V14C2 16 3 17 5 17H6.43C6.8 17 7.17 17.11 7.49 17.3L10.41 19.13C12.93 20.71 15 19.56 15 16.59V7.41C15 4.43 12.93 3.29 10.41 4.87L7.49 6.7C7.17 6.89 6.8 7 6.43 7H5C3 7 2 8 2 10Z"
                            stroke="#292D32" stroke-width="1.5" />
                        <path d="M18 8C19.78 10.37 19.78 13.63 18 16" stroke="#292D32" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19.83 5.5C22.72 9.35 22.72 14.65 19.83 18.5" stroke="#292D32" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

        <div id="chatContainer">
            <div class="chatMessage botMessage">
                안녕하세요! 저는 여러분의 상담을 도와드릴 상담 에이전트입니다. 마이크를 누르시고, 저에게 편안하게 말을 걸어보세요.
            </div>
        </div>

        <div id="inputContainer">
            <input type="text" id="textInput" placeholder="메세지를 입력하세요.">
            <button id="recordButton" aria-label="녹음">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 15.5C14.21 15.5 16 13.71 16 11.5V6C16 3.79 14.21 2 12 2C9.79 2 8 3.79 8 6V11.5C8 13.71 9.79 15.5 12 15.5Z"
                        stroke="#CECECE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4.35 9.65V11.35C4.35 15.57 7.78 19 12 19C16.22 19 19.65 15.57 19.65 11.35V9.65"
                        stroke="#CECECE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 19V22" stroke="#CECECE" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <button id="sendButton">
                <img src="{% static 'images/send_button.png' %}" alt="send button" width="32" height="32">
            </button>
        </div>
    </div>

    <script>
        let recognition;
        let recordButton = document.getElementById('recordButton');
        let chatContainer = document.getElementById('chatContainer');
        let waveform = document.getElementById('waveform');
        let textInput = document.getElementById('textInput');
        let sendButton = document.getElementById('sendButton');
        let isListening = false;
        let audioContext;
        let analyser;
        let microphone;
        let silenceTimeout;
        let currentAudio = null;

        function stopCurrentAudio() {
            if (currentAudio) {
                currentAudio.pause();
                currentAudio.currentTime = 0;
                URL.revokeObjectURL(currentAudio.src);
                currentAudio = null;
            }
        }

        if ('webkitSpeechRecognition' in window) {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.lang = 'ko-KR';

            recognition.onstart = function () {
                isListening = true;
                recordButton.style.background = '#3369FF';
                recordButton.style.color = 'white';
                recordButton.style.borderRadius = '50%';  // 버튼을 동그랗게 설정
                recordButton.style.transition = 'all 0.3s ease';  // 애니메이션 적용
                // recordButton.style.transform= 'translateY(-55%)';  // 애니메이션 적용
                startAudioAnalysis();
            };

            recognition.onresult = function (event) {
                clearTimeout(silenceTimeout);
                let finalTranscript = '';
                let interimTranscript = '';

                if (event.results.length > 0 &&
                    event.resultIndex === 0 &&
                    event.results[0][0].transcript.trim().length > 0) {
                    stopCurrentAudio();
                }

                for (let i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        finalTranscript += event.results[i][0].transcript + ' ';
                    } else {
                        interimTranscript += event.results[i][0].transcript;
                    }
                }

                if (interimTranscript.trim()) {
                    updateUserMessage(interimTranscript);
                }

                if (finalTranscript.trim()) {
                    const existingInterim = document.querySelector('.userMessage.interim');
                    if (existingInterim) {
                        existingInterim.remove();
                    }
                    addUserMessage(finalTranscript);
                    sendToGemini(finalTranscript);
                    startNewSTTSession();
                }

                setSilenceDetection();
            };

            recognition.onerror = function (event) {
                console.error('Speech recognition error', event.error);
                startNewSTTSession();
            };

            recognition.onend = function () {
                if (isListening) {
                    startNewSTTSession();
                } else {
                    recordButton.style.background = 'transparent';
                    recordButton.style.color = '#7dc9ff';
                    // recordButton.style.transform= 'translateY(-50%)';  // 애니메이션 적용
                    stopAudioAnalysis();
                }
            };
        }

        function setSilenceDetection() {
            clearTimeout(silenceTimeout);
            silenceTimeout = setTimeout(() => {
                startNewSTTSession();
            }, 3000);
        }

        function startNewSTTSession() {
            if (recognition) {
                recognition.stop();
                setTimeout(() => {
                    if (isListening) {
                        recognition.start();
                        setSilenceDetection();
                    }
                }, 100);
            }
        }

        function updateUserMessage(message) {
            const existingMessage = document.querySelector('.userMessage.interim');
            if (existingMessage) {
                existingMessage.textContent = message;
            } else {
                const messageElement = document.createElement('div');
                messageElement.classList.add('chatMessage', 'userMessage', 'interim');
                messageElement.textContent = message;
                chatContainer.appendChild(messageElement);
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
        }

        function addUserMessage(message) {
            const messageElement = document.createElement('div');
            messageElement.classList.add('chatMessage', 'userMessage');
            const textElement = document.createElement('p');
            textElement.textContent = message;
            messageElement.appendChild(textElement);
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function addBotMessage(message) {
            const messageElement = document.createElement('div');
            messageElement.classList.add('chatMessage', 'botMessage');
            messageElement.textContent = message;
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function toggleRecording() {
            if (!isListening) {
                startRecording();
            } else {
                stopRecording();
            }
        }

        function startRecording() {
            if (recognition) {
                stopCurrentAudio();
                recognition.start();
                setSilenceDetection();
            }
        }

        function stopRecording() {
            if (recognition) {
                recognition.stop();
                isListening = false;
                recordButton.style.background = 'transparent';
                recordButton.style.color = '#3369FF';
                stopAudioAnalysis();
                clearTimeout(silenceTimeout);
            }
        }

        recordButton.addEventListener('click', toggleRecording);

        function startAudioAnalysis() {
            if (!audioContext) {
                audioContext = new (window.AudioContext || window.webkitAudioContext)();
                analyser = audioContext.createAnalyser();
                analyser.fftSize = 256;

                navigator.mediaDevices.getUserMedia({ audio: true })
                    .then(stream => {
                        microphone = audioContext.createMediaStreamSource(stream);
                        microphone.connect(analyser);
                        visualize();
                    })
                    .catch(err => {
                        console.error('Error accessing microphone:', err);
                    });
            } else {
                audioContext.resume();
            }
        }

        function stopAudioAnalysis() {
            if (audioContext) {
                audioContext.suspend();
            }
        }

        function visualize() {
            const bufferLength = analyser.frequencyBinCount;
            const dataArray = new Uint8Array(bufferLength);

            function draw() {
                requestAnimationFrame(draw);

                analyser.getByteFrequencyData(dataArray);

                waveform.innerHTML = '';
                const barCount = 64;
                const barWidth = 100 / barCount;

                for (let i = 0; i < barCount; i++) {
                    const bar = document.createElementNS("http://www.w3.org/2000/svg", "rect");
                    const x = i * barWidth;
                    const height = (dataArray[i] / 256) * 30; // 최대 높이를 30으로 설정 (전체 높이의 절반)
                    const y = 30 - height; // 중앙을 기준으로 위로 그리기

                    bar.setAttribute("x", x);
                    bar.setAttribute("y", y);
                    bar.setAttribute("width", barWidth * 0.8);
                    bar.setAttribute("height", height * 2); // 위아래 대칭되게 그리기
                    bar.setAttribute("class", "waveform-bar");

                    waveform.appendChild(bar);
                }
            }

            draw();
        }

        async function speakResponse(text) {
            stopCurrentAudio();

            console.time('tts 시간');
            try {
                const ttsResponse = await fetch('http://localhost:3000/tts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ input: text })
                });

                const audioBlob = await ttsResponse.blob();
                const audioUrl = URL.createObjectURL(audioBlob);

                currentAudio = new Audio(audioUrl);
                currentAudio.onended = () => {
                    URL.revokeObjectURL(audioUrl);
                    currentAudio = null;
                };

                currentAudio.play();
            } catch (error) {
                console.error('TTS Error:', error);
            }
            console.timeEnd('tts 시간');
        }

        function handleTextAndImageInput() {
            const message = textInput.value.trim();

            if (message) {
                stopCurrentAudio();
                stopRecording();

                addUserMessage(message);
                sendToGemini(message);
                textInput.value = '';
            }
        }

        sendButton.addEventListener('click', handleTextAndImageInput);
        textInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                handleTextAndImageInput();
            }
        });

        async function sendToGemini(text) {
            console.time('전체 처리 시간');
            try {
                const response = await fetch('/process_speech/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ text: text })
                });

                const data = await response.json();
                console.timeEnd('전체 처리 시간');

                await speakResponse(data.response);
                addBotMessage(data.response);

            } catch (error) {
                console.error('Error:', error);
                addBotMessage("죄송합니다. 오류가 발생했습니다.");
                startNewSTTSession();
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>

</html>